{% extends "template.html" %}

{% block content %}
    <main class="about-content">
        <section class="about-intro">
            <h2>Contact Me</h2>
            <div class="about-text">
                <p>I'm always interested in connecting with fellow creatives, technologists, and potential collaborators. Whether you're interested in my work, have a project in mind, or just want to say hello, I'd love to hear from you.</p>
            </div>
        </section>

        <section class="contact-section">
            <div class="polaroid-container">
                <div class="polaroid-overlay">
                    <img src="/static/images/contactImage.jpg" alt="Empty Polaroid Frame" class="polaroid-frame">
                    <div class="email-content">
                        <h3>Email</h3>
                        <a href="mailto:rw53783n@pace.edu" class="email-link">rw53783n@pace.edu</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}