{% extends "template.html" %}

{% block content %}
    <div class="polaroid-gallery">
        <div class="scattered-polaroids">
            <img src="/static/Images/Polaroid Scattered 2.jpeg" alt="Scattered Polaroid Images" class="scattered-image">
            <div class="video-container">
                <video width="100%" height="auto" controls preload="metadata">
                    <source src="/static/video/cropped-recording.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
{% endblock %}